body {
    height: 98vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maincontainer {
    margin: 15px;
    padding: 15px;
    flex-direction: row;
    width: 95vw;
    /* background: red; */
}

.body_text {
    margin: 15px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Noto Looped Thai UI;
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    justify-content: space-around;
    /* background: yellow; */
    width: 98vw;
}

.another{
    width: 50vw;
    float: right;
}
img {
    width: 40vw;
    height: 60vh;
    float: left;
}
a{
    font-size: 1.5rem;
}

.blog-footer {

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 5000;
    font-size: 2rem;
    line-height: 500px;

}